<section class="login-register-section">
    <form method="post" class="login-register-form">
      <label for="email" class="login-form-label">Email</label>

      <input
        type="text"
        id="email"
        name="email"
        class="login-form-input"
        placeholder="Email..."
        required
        autoComplete="email"
      />
      <br />
  
      <label for="password" class="'login-form-label">Password</label>
  
      <input
        type="password"
        id="password"
        name="password"
        class="login-form-input"
        placeholder="Password..."
        required
        autoComplete="password"
      />
      <br />
      <button type="submit" class="login-form-button">Log in</button>
    </form>
  </section>
  