<div class="login-section">
	<form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
		<label for="email" class="login-form-label">Email</label>
		<input 
			type="text" 
			id="email" 
			name="email" 
			class="login-form-input" 
			required 
			placeholder="Enter your email..."
			ngModel
			#inputEmail="ngModel"
		>
		<br>
		<br>

		<ng-container *ngIf="inputEmail.touched">
			<p class="error" *ngIf="inputEmail.errors?.['required']">Email is required</p>
		</ng-container>

		<label for="password" class="login-form-label">Password</label>
		<input 
			type="password" 
			id="password" 
			name="password" 
			class="login-form-input" 
			required
			placeholder="Enter your password..."
			ngModel
			#inputPassword="ngModel"
		>
		<br>
		<br>

		<!-- <input type="submit" value="Login" class="login-form-button"> -->
		<button class="login-form-button">Login</button>
	</form>
</div>