<div *ngFor="let recipe of recipes" class="container-dashboard">

  <div class="content-dashboard-list">
    <div class="dashboard-content">
      <img class="dashboard-img" src={{recipe.image}} alt={{recipe.title}} />
      <div class="dashboard-information">
        <h3 class="dashboard-information-title">{{recipe.title}}</h3>
        <p class="dashboard-information-description">
          {{recipe.description}}
        </p>
      </div>
      <a [routerLink]="['/recipe', recipe._id]"> <button class="dashboard-button">Whole Recipe</button></a>

    </div>
  </div>
</div>
