<div class="container-recipe">
    <div class="recipe">
        <div>
            <div class="recipe-header">
                <h1 class="recipe-title">{{recipe?.title}}</h1>
                <img src= {{recipe?.image}} alt={{recipe?.title}} class="recipe-image" />
                <p class="recipe-description">{{recipe?.description}}</p>
            </div>

            <div class="ingredient-list">
                <h2>Ingredients:</h2>
                <ul role="list">
                    <li class="ingredient">{{recipe?.ingredients}}</li>
                    <li class="ingredient">{{recipe?.ingredients}}</li>
                    <li class="ingredient">{{recipe?.ingredients}}</li>
                    <li class="ingredient">{{recipe?.ingredients}}</li>
                    <li class="ingredient">{{recipe?.ingredients}}</li>
                    <li class="ingredient">{{recipe?.ingredients}}</li>
                </ul>
            </div>
        </div>

        <div class="instruction-list">
            <h2>Instructions:</h2>
            <ol>
                <li class="instruction">{{recipe?.instructions}}</li>
                <li class="instruction">{{recipe?.instructions}}</li>
                <li class="instruction">{{recipe?.instructions}}</li>
                <li class="instruction">{{recipe?.instructions}}</li>
                <li class="instruction">{{recipe?.instructions}}</li>
            </ol>
        </div>
    </div>
</div>