<div class="section-register">
  <form action="submit.php" method="post" class="register-form">

    <label for="email" class="label-register-form">Email</label>
    <input type="email" id="email" name="email" class="input-register-form" required placeholder="Enter your email...">

    <label for="password" class="label-register-form">Password</label>
    <input type="password" id="password" name="password" class="input-register-form" required
      placeholder="Enter your password...">

    <label for="confirm_password" class="label-register-form">Confirm Password</label>
    <input type="password" id="confirm_password" name="confirm_password" class="input-register-form" required
      placeholder="Confrim your password...">

    <input type="submit" value="Registration" class="button-register-form">
  </form>
</div>