<div class="section-register">
	<form class="register-form" [formGroup]="form" (ngSubmit)="register()">

		<label for="email" class="label-register-form">Email</label>
		<input 
			type="email" 
			id="email" 
			name="email" 
			class="input-register-form" 
			required
			placeholder="Enter your email..." 
			formControlName='email'
		>
		<div class="icon">
			<i class="fas fa-user"></i>
		</div>

		<ng-container *ngIf="form.get('email')?.touched">
			<p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required</p>
			<p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">Email is not valid</p>
		</ng-container>

		<ng-container formGroupName="passGroup">
			<label for="password" class="label-register-form">Password</label>
			<input 
				type="password" 
				id="password" 
				name="password" 
				class="input-register-form" 
				required
				placeholder="Enter your password..." 
				formControlName='password'
			>
			<div class="icon">
				<i class="fa-solid fa-lock"></i>
			</div>

			<label for="confirm_password" class="label-register-form">Confirm Password</label>
			<input 
				type="password" 
				id="confirm_password" 
				name="confirm_password" 
				class="input-register-form" 
				required
				placeholder="Confrim your password..." 
				formControlName='confirmPassword'
			>
			<div class="icon">
				<i class="fa-solid fa-key"></i>
			</div>

			<ng-container *ngIf="form.get('passGroup')?.get('confirmPassword')?.touched">
				<p class="error" *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
					form.get('passGroup')?.get('confirmPassword')?.errors?.['required']">
					Confirm password does not match
				</p>
			</ng-container>
		</ng-container>


		<!-- <input type="submit" value="Registration" class="button-register-form"> -->
		<button class="button-register-form">Registration</button>
	</form>
</div>