<section class="login-register-section">
    <form  method="post" class="login-register-form">
  
      <label for="email" class="login-form-label">Email</label>
  
      <input
        type="email"
        id="email"
        name="email"
        class="login-form-input"
        placeholder="Email"
        required
        autoComplete="email"
      />
      <br />
  
      <label for="password" class="login-form-label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="login-form-input"
        placeholder="Password"
        required
        autoComplete="password"
      />
      <br />
  
      <label for="confirm_password" class="login-form-label">Confirm Password</label>
  
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="login-form-input"
        placeholder="Confirm Password"
        required
        autoComplete="confirm-password"
      />
      <br />
  
      <button type="submit" class="login-form-button">Registration</button>
    </form>
  </section>
  