<div class="cover">
    <div class="cover-title">
        <p class="cover-title-p">All new recipes,</p>
        <p class="cover-title-p">you can find </p>
        <p class="cover-title-p">
            only <span>here</span>!
        </p>
    </div>
</div>

<section class="container-about-recipe">
    <div class="content-about-recipe">
        <h2 class="about-recipe-title">Explore Our Recipe Dashboard</h2>
        <p class="about-recipe-description">
            Discover a world of flavorful rice and vegetable recipes by entering
            our recipe dashboard.
        </p>
        <a class="about-recipe-link">
            Recipe
        </a>
    </div>
    <img class="about-recipe-img" src="./image/cooking.png" alt="" />


</section>

<section class="container-about">
    <div class="content-about">
        <h2 class="about-title">The Website's Goal</h2>
        <p class="about-description">
            The goal of her website is to offer a wide selection of delicious and
            healthy rice with vegetable recipes to its visitors.
        </p>
    </div>
</section>