.navigation-welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 30px 30px white;
}

.navigation-guest {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 30px 30px white;

}

.content-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.link {
    color: rgb(255, 166, 0);
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px white;
    cursor: pointer;
}

.link:hover {
    color: rgba(255, 0, 0, 0.637);

}

.link-signIn {
    color: rgba(255, 0, 0, 0.637);
    font-weight: 500;
    letter-spacing: 1.5px;
    border: 2px solid rgba(255, 0, 0, 0.637);
    padding: 5px 10px;
    border-radius: 50px;
}

.link-signIn:hover {
    background-color: orange;
    border: 2px solid orange;
    color: white;


}
/* --------------------------------------Navigation-Mobile------------------------------------------ */
.navigation-mobile{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 30px 30px white;
}

.dropdown-button-mobile {
    background-color: white;
    border: 2px solid orange;
    border-radius: 100%;
    padding: 5px 10px;
    color: orange;
    font-weight: 400;
}
.content-dropdown-mobile {
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    background-color: white;
    left: 0;
    top: 0;
    border: 2px solid orange;
    padding: 10px;
    width: 90%;
    gap: 20px;
    height: 800px;

}
.content-button-down-button-mobile:hover .content-dropdown-mobile {
    display: flex;
}
.link-mobile {
    color: orange;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.content-on-close-button-mobile {
    display: flex;
    justify-content: flex-end;

}

.on-close-button-mobile {
    color: orange;
    background-color: white;
    border: none;
    font-size: 18px;
    padding: 10px 20px;

}
/* ---------------------Media-Queries-------------------------- */

@media (min-width: 250px) and (max-width: 768px) {
    .navigationMobile {
        display: flex;

    }

    .navigationWelcome {
        display: none;
    }
}

@media (min-width: 800px) {
    .link, .linkSignIn  {
        font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    .link, .link-signIn  {
        font-size: 18px;
    }
  }
  
  @media (min-width: 1280px) {
    .link, .link-signIn  {
        font-size: 20px;
    }
  }