<header class="header">
    <nav *ngIf="isLogged" class="navigation-welcome">
        <div class="content-logo">
            <a class="link" routerLink="/">Culinary Recipes</a>
        </div>
        <div class="content-links">
            <a class="link" routerLink="/create-recipe">Create Recipe</a>
            <a class="link" routerLink="/recipes">Recipes</a>
            <a class="link" routerLink="/about-us">About Us</a>
            <a class="link" routerLink="/contacts">Contacts</a>
            <a class="link" routerLink="/profile">Profile</a>
            <a class="link" (click)="logout()">Logout</a>
        </div>
    </nav>

    <nav *ngIf="!isLogged" class="navigation-guest">
        <div class="content-logo">
            <a class="link" routerLink="/">Culinary Recipes</a>
        </div>

        <div class="content-links">
            <a class="link" routerLink="/recipes">Recipes</a>
            <a class="link" routerLink="/about-us">About Us</a>
            <a class="link" routerLink="/contacts">Contacts</a>
            <a class="link-sign-in" routerLink="/login">Login</a>
            <a class="link-sign-in" routerLink="/register">Register</a>
        </div>
    </nav>

    <nav *ngIf="isLogged" class="navigation-mobile">
        <div class="content-logo-mobile">
            <a class="logo-mobile-link-mobile link" routerLink="/">Culinary Recipes</a>
        </div>
        <div class="content-button-down-button-mobile">
            <button (click)="handlerClick()" class="dropdown-button-mobile"><i class="fa-solid fa-bars"></i></button>
            <div *ngIf="isShow" class="content-dropdown-mobile">
                <div class="content-on-close-button-mobile">
                    <button (click)="handlerClick()" class="on-close-button-mobile"><i class="fa-solid fa-x"></i></button>

                </div>
                <a class="link-mobile" href=""><i class="fa-solid fa-house"></i></a>
                <a class="link-mobile" routerLink="/create-recipe">Create Recipe</a>
                <a class="link-mobile" routerLink="/recipes">Recipes</a>
                <a class="link-mobile" routerLink="/about-us">About Us</a>
                <a class="link" routerLink="/contacts">Contacts</a>
                <a class="link" routerLink="/profile">Profile</a>
                <a class="link-mobile" (click)="logout()">Logout</a>
            </div>
        </div>
    </nav>


    <nav *ngIf="!isLogged" class="navigation-mobile">
        <div class="content-logo-mobile">
            <a class="logo-mobile-link-mobile link" routerLink="/">Culinary Recipes</a>
        </div>
        <div class="content-button-down-button-mobile">
            <button (click)="handlerClick()" class="dropdown-button-mobile"><i class="fa-solid fa-bars"></i></button>
            <div *ngIf="isShow" class="content-dropdown-mobile">
                <div class="content-on-close-button-mobile">
                    <button (click)="handlerClick()" class="on-close-button-mobile"><i class="fa-solid fa-x"></i></button>

                </div>
                <a class="link-mobile" href=""><i class="fa-solid fa-house"></i></a>
                <a class="link-mobile" routerLink="/recipes">Recipes</a>
                <a class="link-mobile" routerLink="/about-us">About Us</a>
                <a class="link" routerLink="/contacts">Contacts</a>
                <a class="link-mobile" routerLink="/login">Login</a>
            <a class="link" routerLink="/register">Register</a>
            </div>
        </div>
    </nav>
</header>