<header class="header">
    <nav class="nav">
        <!-- <a href="/">LK</a> -->
        <ul role="list" class="list">
            <li class="element">
                <a href="/">Home</a>
            </li>
            <li class="element">
                <a href="/dashboard">Dashboard</a>
            </li>
            <!-- Показва се само ако потребителят е аутентикиран -->
            <li class="element">
                <a href="/recipes/create">Create Recipes</a>
            </li>
            <li class="element">
                <a href="/logout">Logout</a>
            </li>
            <!-- Показва се само ако потребителят не е аутентикиран -->
            <li class="element">
                <a href="/login">Login</a>
            </li>
            <li class="element">
                <a href="/register">Register</a>
            </li>
        </ul>
    </nav>
</header>
