<footer class="footer">
	<div class="container-footer">
		<div class="content-footer">
			<div class="contacts-footer">
				<h2 class="main-titles-footer">
					<span class=""><i class="fa-solid fa-map"></i></span>
					About
				</h2>

				<ul role="list" class="list-about-footer">
					<li class="list-element-about-footer"><i class="fa-solid fa-location-dot"></i><span class="">4004
							Plovdiv, Bulgaria</span>
					</li>
					<li class="list-element-about-footer"><i class="fa-solid fa-phone"></i><span
							class="">+35912345678</span></li>
					<li class="list-element-about-footer"><i class="fa-solid fa-paper-plane"></i><span
							class="">healthygmail.com</span></li>
				</ul>

				<form action="#" class="form-about-footer">

					<input class="input-form-about-footer" type="text" placeholder="Enter email address">
					<button type="submit" class="button-form-about-footer"><i
							class="fa-regular fa-paper-plane fa-regular-fa-paper-plane"></i>
					</button>
				</form>

			</div>
			<div class="information-footer">
				<h2 class="main-titles-footer"><span class=""><i class="fa-solid fa-circle-info"></i></span>Information
				</h2>
				<ul role="list" class="information-list-footer">
					<li><a href="#" routerLink="/about-us" class="information-list-element-footer">About</a></li>
					<li><a href="#" routerLink="/contacts" class="information-list-element-footer">Contacts</a></li>
				</ul>
			</div>

		</div>
		<div class="content-copy-right">
			<p class="copyright-info">
				Copyright ©2024 All rights reserved.
			</p>

		</div>
	</div>
</footer>