<div class="container-create-recipe">
    <form class="create-recipe-form" #form="ngForm" (ngSubmit)="addRecipe(form)">
        <div>
            <label for="image" class="create-recipe-label">Image</label>
            <input 
                type="text" 
                class="create-recipe-input" 
                name="image" 
                placeholder="Upload image..." 
                required 
                ngModel
                #inputRecipeImage = 'ngModel'
                minlength="10"
            />

            <ng-container *ngIf="inputRecipeImage.touched && inputRecipeImage.hasError('required')">
                <p class="error">Image is required</p>
            </ng-container>
    
        </div>

        <div>
            <label for="title" class="create-recipe-label">Title</label>
            <input 
                type="text" 
                name="title" 
                placeholder="Enter recipe title..." 
                class="create-recipe-input"
                required 
                ngModel
                #inputRecipeTitle = 'ngModel'
                minlength="10"
            />
            <ng-container *ngIf="inputRecipeTitle.touched && inputRecipeTitle.hasError('required')">
                <p class="error">Title is required</p>
            </ng-container>

            <ng-container *ngIf="inputRecipeTitle.touched && inputRecipeTitle.hasError('minlength')">
                <p class="error">Title must be at least 10 characters long</p>
            </ng-container>
        </div>

        <div>
            <label for="description" class="create-recipe-label">Description</label>
            <textarea 
                name="description" 
                rows="4" 
                cols="50" 
                placeholder="Enter recipe description..."
                class="create-recipe-textarea"
                required 
                ngModel
                #inputRecipeDescription = 'ngModel'
                minlength="10"
            >
            </textarea>
            <ng-container *ngIf="inputRecipeDescription.touched && inputRecipeDescription.hasError('required')">
                <p class="error">Description is required</p>
            </ng-container>

            <ng-container *ngIf="inputRecipeDescription.touched && inputRecipeDescription.hasError('minlength')">
                <p class="error">Description must be at least 10 characters long</p>
            </ng-container>
        </div>

        <div>
            <label for="ingredients" class="create-recipe-label">Ingredients</label>
            <textarea 
                name="ingredients" 
                rows="4" 
                cols="50" 
                placeholder="Enter recipe ingredients..."
                class="create-recipe-textarea"
                required 
                ngModel
                #inputRecipeIngredients = 'ngModel'
                minlength="10"
            >
            </textarea>
            <ng-container *ngIf="inputRecipeIngredients.touched && inputRecipeIngredients.hasError('required')">
                <p class="error">Ingredients are required</p>
            </ng-container>
            
            <ng-container *ngIf="inputRecipeIngredients.touched && inputRecipeIngredients.hasError('minlength')">
                <p class="error">Ingredients must be at least 10 characters long</p>
            </ng-container>

        </div>

        <button  class="create-recipe-button">Create</button>
    </form>
</div>