<div class="container-edit-recipe">
    <form class="edit-recipe-form" #form="ngForm" (ngSubmit)="editRecipe(form)">
        <div>
            <label for="image" class="edit-recipe-label">
                Image
            </label>
            <input 
                type="text" 
                class="edit-recipe-input" 
                name="image" 
                placeholder="Upload image..." 
                required 
                ngModel
                #inputRecipeImage = 'ngModel'
            />
        </div>
        <div>
            <label for="title" class="edit-recipe-label">
                Title
            </label>
            <input 
                type="text" 
                name="title" 
                placeholder="Enter recipe title..." 
                class="edit-recipe-input" 
                ngModel
                #inputRecipeTitle = 'ngModel'
                minlength="10"
            />
        </div>

        <div>
            <label for="description" class="edit-recipe-label">
                Description
            </label>
            <textarea 
                name="description" 
                rows="4" cols="50" 
                placeholder="Enter recipe description..."
                class="edit-recipe-textarea"
                ngModel
                #inputRecipeDescription = 'ngModel'
                minlength="10"
            >
            </textarea>
        </div>

        <div>
            <label for="ingredients" class="edit-recipe-label">
                Ingredients
            </label>
            <textarea 
                name="ingredients" 
                rows="4" 
                cols="50" 
                placeholder="Enter recipe ingredients..."
                class="edit-recipe-textarea"
                ngModel
                #inputRecipeIngredients= 'ngModel'
                minlength="10"
            >
        </textarea>
        </div>

        <div>
            <label for="instructions" class="edit-recipe-label">Instructions</label>
            <textarea 
                name="instructions" 
                rows="4" 
                cols="50" 
                placeholder="Enter recipe instructions..."
                class="edit-recipe-textarea"
                ngModel
                #inputRecipeInstructions="ngModel"
                minlength="10"
            ></textarea>
        </div>

       

        <button class="edit-recipe-button">Edit</button>
    </form>
</div>